




.main {
    width: 100vw;
    height: calc(100% - 80px);
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: max-content;
}
.container1{
    max-width: 380px;

}
.container2 {
    max-width: 500px;
}

.container1, .container2 {
    line-height: 30px;
}

h1 {
    margin-bottom: 16px;
}

.text {
    font-size: 17px;
}

